.container .title {
    color: #fff;
    text-align: center;
}

.title-top20 {
    text-align: center;
    margin: 2.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding: 0.4em;
    border-bottom: 2px solid white;
    background-color: black;
}

.title-top20 img {
    padding-left: .8rem;
    padding-bottom: .5em;
    width: 5%;
}




.title .query-text {
    color: #f7d354;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.movies-container div {
    width: 30%;
    color: #fff;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border: 2px solid #f7d354;
    border-radius: 20px;
}

.movies-container div img {
    max-width: 100%;
}

.movies-container div img,
.movies-container div h2
.movies-container div p {
    margin-bottom: 1rem;
}

.movies-container div svg {
    color: #f7d354;
}

.movies-container div a {
    background-color: #f7d354;
    border: 2px solid #f7d354;
    border-radius: 4px;
    color: black;
    padding: 1rem .5rem;
    font-weight: bold;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: .4s;
}

.movies-container div a:hover {
    background-color: transparent;
    color: #f7d354;
}

.movies-container h3 {
    text-align: center;
    border-bottom: 1px solid white;
    padding:.1em;
}

.movies-container p {
    padding: .5em;
    font-size: 20px;
    text-align: center;
}


@media (max-width: 425px) {
    .title-top20 h1 {
        font-size: x-large;
    }

    .title-top20 img {
        width: 17%;
    }

    .movies-container {
        flex-direction: column;
        align-items: center;
    }

    .movies-container div {
        width: 80%;
        height: 50%;
    }

}

@media (max-width: 320px) {
    .title-top20 h1 {
        font-size: larger;
    }

    .movies-container div {
        width: 90%;
    }

    .container .title {
        font-size: medium;
        padding: 1em;
    }
}